.bg_test {
    height: 250px;                  
    padding:  20px;                 
    font-size: 20px;                
    background-color: powderblue;   
}

.bg_test2 {
    color:  #fff;                   
    height: 200px;                  
    width:  200px;                  
    font-size:  14px;               
    background-color: blue;         
    padding:  20px;                 
    float:  right;                  
    position:  relative;            
    top: 110px;                     
}
